

element.style {
}
.goog-logo-link, .goog-logo-link:link, .goog-logo-link:visited, .goog-logo-link:hover, .goog-logo-link:active {
    font-size: 12px;
    font-weight: bold;
   
    color: #444;
    text-decoration: none;
}

#alertP{
    display: none;
}
#wallet div:hover{
opacity: 0.7;
}

#wallet a{
    text-decoration: none;
}
#firstup{
    background-image: url('../img/photos/etf-3.jpg') !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content {
    background-color: rgba(255, 255, 255, 0)(255, 255, 255, 0.199);
    background-image: linear-gradient(to bottom right, #fff, #dfecfa);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.card-header{
    background-color: #343a40 !important;
}
@media screen and (min-width:500px) {
    
#rows{
    width:100%;
}
ul, li, ul li{
    list-style-type:none
}
#assets{
    display: flex;
    flex-direction: row !important;
}
}

@media screen and (min-width:700px) and (max-width:900px) {
    
    #rows{
        width:100%;
     
    }   
    
    }
    @media screen and (min-width:900px) and (max-width:1024px){
    
        #rows{
            width:50rem;
        }
        }
    #newbtn a{
        width: 100%;
        margin-left: 2rem;
    }
    ul, li, ul li{
        list-style-type:none
    }

    .badge-dark{
        border-radius:.2rem;
        color:#fff;
        display:inline-block;
        font-size:80%;
        font-weight:600;
        line-height:1;
        padding:.3em .45em;
        text-align:center;
        vertical-align:baseline;
        white-space:nowrap;
        --bs-bg-opacity:1;
        background-color:rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important
    }
    #wrong-detail-alert{
        text-align:center;
        color:red; 
        align-items: baseline;
        width: 100%;
        background-color:rgba(220, 20, 60, 0.082); 
        font-size:12px;
    }
    @media (min-width:1200px) {
        #rows{
            
            width: 1800px;
            
        }
       .row{
         --bs-gutter-x:24px !important;
       }
        #tradingview{
            padding: 40px 10px 160px 70px !important;
        }
        #hide{
            display: none;
            }
        .content .container-fluid{
            padding-left:1.5rem !important;
        }
        #newcol{
            display: flex !important;
          padding: 40px 40px 0px 40px;
            width: 100%;
            margin-left: 0rem;
            margin-right: 0rem;
            
        }
        
    }
    @media (max-width:767px) {
      #newcol, .col-md-6, .col-12, .row{
          width: 100% !important;
      }
        #trans{
            display: flex !important;
            padding-left: 0rem;
            padding-right: 0rem;
            width: 100%;
            margin-left: 0rem;
            margin-right: 0rem;
            
        }
        #noleft{
            margin: 0px 0px 0px 0px !important;
        }
        #see{
            top: 64.5% !important;
        }
       #see span i{
 margin: 5px;
       }
    }
    

@media (min-width: 768px) and (max-width:1024px){
.col-md-6 {
    flex: 0 0 auto;
    width: 100% !important;
    
}
.row{
    width: 100% !important;
    --bs-gutter-x:4px !important;
}

}